:root {
  color-scheme: light dark;
  color: #333333;
  background-color: #e8e8e8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
  --n-color-start: #fff !important;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card{
  backdrop-filter: saturate(180%) blur(20px);
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
}

.pa-10{
  padding: 10px;
}

.pt-10{
  padding-top: 10px;
}

.mt-10{
  margin-top: 10px;
}

.mb-10{
  margin-bottom: 10px;
}

.ml-10{
  margin-left: 10px;
}

.mr-5{
  margin-right: 5px;
}

.mr-10{
  margin-right: 10px;
}

.mr-20{
  margin-right: 20px;
}

.text-big{
  font-size: 18px;
  line-height: 18px;
}

.text-small{
  font-size: 12px;
  line-height: 18px;
}

.text-gray {
    color: #999;
}

.border-top{
  border-top: #cacaca 1px solid;
}

.border-bottom{
  border-bottom: #cacaca 1px solid;
}

.border-right{
  border-right: #cacaca 1px solid;
}

.float-right{
  float: right;
}

.line1 {
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.sub-header{
  height: 56px;
}

.sub-title{
  line-height: 18px;
  font-size: 18px;
}

.n-popover:not(.n-popover--raw),
.n-popover-shared .n-popover-arrow-wrapper .n-popover-arrow{
  background-color: #fff;
}

.n-popover-shared .n-popover-arrow-wrapper .n-popover-arrow{
  box-shadow: none;
}

.n-popover{
  color: #333333 !important;
}